
body {
  background: #111;
}


.container {
  margin:20px auto 10px;
  /*background-image: url(../imagenes/fondo1.jpg);*/
  background: #ffffd0 !important;
  padding: 15px 30px 25px 30px;
  border:1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 20px rgba(0,0,0,0.7);
  max-width:600px !important;


}

.app {
  margin:20px auto 10px;
  /*background-image: url(../imagenes/fondo1.jpg);*/
  background: #111 !important;
  padding: 15px 30px 25px 30px;
  border:1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 20px rgba(0,0,0,0.7);
  max-width:600px !important;
  text-align: center;

}

p {
  color: #fff;
}

h1{
  color:#000;
  font-size: 20px;
  text-align:center;
  margin:0;

}



hr{
  
  background: #000;
}


label {
  color:#fff;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.lista {
  margin-top: 5px;
  font-weight: bold;
  border: 2px solid #000;
  background:  #ffdd55;
 }

 .nombre {
  font-size: 14px;
  color: #000;
font-weight: 50px !important;
 
 }

.botonCarro {
font-size: 14px;
  color: #000;
  background: #ffffd0;
  border: 1px solid #000;
  padding: 5px; 
 }

 .leyenda {
  float: 0px !important;
  font-size: 12px;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  padding-top: 10px;
  padding-left: 10px;
  line-height: 4px;
 }



